<svg class="mindmap" [attr.viewBox]="'0 0 ' + layout().width + ' ' + layout().height" role="img" [attr.aria-label]="mindmap().title">
  @for (edge of layout().edges; track edge.from.id + edge.to.id) {
    <line
      [attr.x1]="edge.from.x + 70"
      [attr.y1]="edge.from.y"
      [attr.x2]="edge.to.x"
      [attr.y2]="edge.to.y"
    />
  }
  @for (node of layout().nodes; track node.id) {
    <g class="node" [attr.transform]="'translate(' + node.x + ',' + (node.y - 14) + ')'">
      <rect width="140" height="28" rx="8" />
      <text x="70" y="18">{{ node.label }}</text>
    </g>
  }
</svg>
